.places__paragraph {
    grid-area: text;
    display: flex;
    flex-direction: column;
    gap: 26px;
}

@media screen and (max-width: 974px) {
    .places__paragraph {
        gap: 25px;
    }
}

@media screen and (max-width: 767px) {
    .places__paragraph {
        width: 100%;
    }
}