.cover__link{   
    display: flex;
    text-decoration: none;
    height: 740px;
    background-image: url(../../../sprint-3-images/cover-trains.jpg);
    background-size:cover;
    background-position: center;
    position: relative;
    flex-direction: column;
}

@media screen and (max-width: 1280px) {
    .cover__link{
        height: 740px;
        margin-left: 48px;
        margin-right: 48px;
    }
}

@media screen and (max-width: 1024px) {
    .cover__link{
        height: 640px;
        margin-left: 0;
        margin-right: 0;
    }
}

@media screen and (max-width: 768px) {
    .cover__link{
        height: 480px;
        margin-left: 0;
        margin-right: 0;
    }
}

@media screen and (max-width: 320px) {
    .cover__link{
        height: 200px;
    }
}