.cover__subtitle {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    z-index: 1;
    text-align: center;
    max-width: 360px;
    margin: 0 auto;
}

@media screen and (max-width: 568px) {
    .cover__subtitle {
        font-size: 14px;
        line-height: 16px;
        width: 100%;
        max-width: 288px;
    }
}