.places__text {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 163%;
    margin: 0;
    text-align: start;
    width: 100%;
    max-width: 484px;
}

@media screen and (max-width: 1024px) {
    .places__text {
        max-width: 456px;
    }
}

@media screen and (max-width: 974px) {
    .places__text {
        font-size: 16px;
        max-width: 352px;
    }
}

@media screen and (max-width: 767px) {
    .places__text {
        min-width: 288px;
    }
}


@media screen and (max-width: 320px) {
    .places__text {
        margin-left: 16px;
        max-width: 288px;
    }
}