.travel {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
    grid-gap: 16px;
  }

@media screen and (max-width: 1024px) {
    .travel{
        grid-gap: 14px;
    }
}

@media screen and (max-width: 320px) {
    .travel{
        grid-gap: 12px;
    }
}