.intro {
    display: grid;
    flex-direction: column;
    margin-left: 148px;
    margin-bottom: 92px;
}

@media screen and (max-width: 1024px) {
    .intro {
        margin-left: 48px;
    }
}

@media screen and (max-width: 974px) {
    .intro {
        margin-left: 24px;
        margin-right: 24px;
        margin-bottom: 88px;
    }
}

@media screen and (max-width: 767px) {
    .intro {
        margin-left: 16px;
        margin-right: 16px;
        margin-bottom: 64px;
    }
}