.cover {
    width: 100%;
    max-width: 1280px;
    text-align: center;
    margin: 92px auto 0;
}

@media screen and (max-width: 974px) {
    .cover {
        margin-top: 90px;
    }
}

@media screen and (max-width: 568px) {
    .cover {
        margin-top: 66px;
        margin-bottom: 0;
    }
}