.lead__caption {
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    text-align: left;
    margin: 0 0 0 148px;
}

@media screen and (max-width: 1024px) {
    .lead__caption {
        margin-left: 48px;
    }
}

@media screen and (max-width: 974px) {
    .lead__caption {
        margin-left: 24px;
    }
}

@media screen and (max-width: 767px) {
    .lead__caption {
        margin-left: 16px;
    }
}