.cover__title {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    text-align: center;
    color: #FFFFFF;
    z-index: 1;
    max-width: 560px;
    margin: 0 auto 32px;
}

@media screen and (max-width: 568px) {
    .cover__title {
        margin-bottom: 16px;
        font-size: 32px;
        line-height: 35px;
        max-width: 288px;
    }
}