.place__button {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: underline;
    grid-area: link;
    margin: 0;
    margin-top: 12px;
    cursor: pointer;
    color: #FFFFFF;
    text-align: start;
}

.place__button:hover{
    opacity: 0.8;
}
