

@media screen and (min-width: 321px) {
    .cover__subtitle__320{
        display: none;
    }
}

@media screen and (max-width: 320px) {
    .cover__subtitle__320{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        color: #FFFFFF;
        margin: 0;
    }
}